.pages {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.pages section {
	height: 100vh;
	scroll-snap-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: gainsboro;
}

.pages section:nth-child(2n) {
	background-color: lavender;
}

.pages section:nth-child(3n) {
	background-color: burlywood;
}

.pages section:nth-child(4n) {
	background-color: rosybrown;
}


