.pages {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.pages section {
	height: 100vh;
	scroll-snap-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: gainsboro;
}

.pages section:nth-child(2n) {
	background-color: lavender;
}

.pages section:nth-child(3n) {
	background-color: burlywood;
}

.pages section:nth-child(4n) {
	background-color: rosybrown;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 8px;
  background-color: #333;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-7px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-16px, -16px) ;
}
